@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
:root{
    --colorText: #186b8b;
}
body{
    background-color: #f5f5f5;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 450px;
    min-height: 300px;
}

.container h1 {
    font-size: 1.6em;
    width: 100%;
    text-align: center;
}
.container  h1 span{
    color: var(--colorText);
    text-transform: uppercase;
}

.container  hr {
    margin: 10px 0;
    border: none;
    border-top:  3px solid #bbb;
    border-radius: 5px;
}
.container .image-poke{
    margin: 0 auto;
    max-width: 400px;
}
.container .image-poke img{
    width:90%;
}
.container .poke-form{
    padding: 5px 0;   
}
.container .poke-form label{
    font-weight: 900;
    color: #1b356b;
}
.container .poke-form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 4.5px 0;
}
.container .poke-form input[type=submit]{
    background-color: #1b356b;
    color: #ccc;
    font-weight: 800;
    font-size: 1.1em;
    letter-spacing: 1.1px;
    cursor: pointer;
}
.container #imgPokemon{
    display: block;
    text-align: center;
}

.container #imgPokemon img{
    width: 90px;
    border: 1px solid #333;
    border-radius: 50%;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.2);
    margin: 10px;
}
.container #content{
    font-family: monospace;
    padding: 10px;
    background-color: #ffcc01;
    border: 1px solid #c8a102;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    color: #333;
}